.button {
    border-radius: 7px;
    padding: 6px;
    background-color: #F0F0F0;
    border-width: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

.button:hover {
    background-color: #cccccc;
}

.button:active {
    background-color: #b4b6ce;
}