.calculator {
    width: 320px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-family: "Segoe UI Variable", "fantasy";
    background-color: #1a2032;
}

.topBar {
    height: 20px;
    background-color: pink;
}

.screen {
    height: 30%;
    background-color: cyan;
}

.calculatorKeyboard {
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.button {
    display: grid;
    justify-content: center;
    align-items: center;

    user-select: none; /* brak mozliwosci zaznaczenia*/
    border-radius: 7px;
    background-color: #3F383E;
    color: white;
    margin: 1px;

    border-color: transparent;
    border-width: 1px;
    border-style: solid;
}

.buttonBlue {background-color: #4cc2ff;}
.buttonBlue:hover {background-color: #47b1e9;}
.buttonBlue:active {background-color: #42a1d5;}

.buttonBright {background-color: #363a4e; border-color: #2a2f44;}
.buttonBright:hover {background-color: #2d3147;}
.buttonBright:active {background-color: #22273d;}

.buttonDark {background-color: #2f313e; border-color: #2d2f3b;}
.buttonDark:hover {background-color: #373b4d; border-color: #2a2f43;}
.buttonDark:active {background-color: #2d3146; border-color: #2a2f43;}