
.bloczek {
    background-color: -blue;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.bloczek img {
    position: absolute;
    z-index: -1
}

#sprzedawcaNazwa {position: absolute; left: 170px; top: 15px;}
#sprzedawcaAdres {position: absolute; left: 150px; top: 85px;}
#sprzedawcaNIP {position: absolute; left: 145px; top: 140px;}

#nabywcaNazwa {position: absolute; left: 287px; top: 193px;}
#nabywcaAdres {position: absolute; left: 167px; top: 234px;}
#nabywcaNIP {position: absolute; left: 900px; top: 234px;}

.bloczek table {
    position: absolute; left: 102px; top: 330px;
}

.bloczek table tr {
    height: 31px;
}