
.bloczek {
    background-color: -blue;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.bloczek img {
    position: absolute;
    z-index: -1
}

#sprzedawcaNazwa {position: absolute; left: 170px; top: 15px;}
#sprzedawcaAdres {position: absolute; left: 150px; top: 85px;}
#sprzedawcaNIP {position: absolute; left: 145px; top: 140px;}

#nabywcaNazwa {position: absolute; left: 287px; top: 193px;}
#nabywcaAdres {position: absolute; left: 167px; top: 234px;}
#nabywcaNIP {position: absolute; left: 900px; top: 234px;}

.bloczek table {
    width: 1196px;
    position: absolute; left: 78px; top: 330px;
    -background-color: red;
    -opacity: 50%;
}

.bloczek table tr {
    height: 31px;
    -background-color: green;
}

td {
    padding: 5px;
}

.col1 {width: 19px; text-align: center; padding: 0}
.col2 {width: 275px}
.col3 {width: 88px}
.col4 {width: 41px}
.col5 {width: 65px}
.col6 {width: 63px}
.col7 {width: 32px}
.col8 {width: 68px}
.col9 {width: 33px}
.col10 {width: 47px}
.col11 {width: 62px}
.col12 {width: 32px}
.col13 {width: 80px}
.col14 {width: 1fr}

.algnLeeft {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
}

#razemWartZL {
    -background-color: red;
    position: absolute;
    left: 736px;
    top: 701px;
    height: 36px;
    width: 74px;
}

#razemWartGR {
    -background-color: blue;
    position: absolute;
    left: 815px;
    top: 701px;
    height: 36px;
    width: 39px;
}

#podatekZL {
    -background-color: red;
    position: absolute;
    left: 920px;
    top: 701px;
    height: 36px;
    width: 74px;
}

#podatekGR {
    -background-color: blue;
    position: absolute;
    left: 993px;
    top: 701px;
    height: 36px;
    width: 39px;
}

#bezPodatkuZL {
    -background-color: red;
    position: absolute;
    left: 1038px;
    top: 701px;
    height: 36px;
    width: 74px;
}

#bezPodatkuGR {
    -background-color: blue;
    position: absolute;
    left: 1129px;
    top: 701px;
    height: 36px;
    width: 39px;
}
